<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>William's Airline</title>

    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <header>
        <nav class="navbar">
            <input type="checkbox" id="check">
            <label for="check" id="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">William's Airline</label>
            <i  id="img1" class="fas fa-fighter-jet"></i>
            <i  id="img2" class="fas fa-fighter-jet" style="transform: scaleX(-1);"></i>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/book-list">List</a></li>
            </ul>
        </nav>
    </header>

    <!-- /Header -->

    <!-- Page Content -->
    <main>
        <h1 class="heading">Book a Flight</h1>
        <div class="container">
            <div class="column">
                <div class="title">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <h2>Economy Class</h2>
                </div>
                <div class="price">
                    <h4>€ <span>23.99</span></h4>
                </div>
                <div class="option">
                    <ul>
                        <form action="/api/users" method="POST">
                            <div class="form-group">
                                <li>
                                    <input class="form-field" type="text" name="passenger"
                                        placeholder="Passenger Name">
                                </li>
                                <li>
                                    <input class="form-field" type="date" name="departingDate"
                                        placeholder="Departing Date">
                                </li>
                                <li>
                                    <select class="form-field" name="country">
                                        <option value="">Select Country</option>
                                        <option value="England">England</option>
                                        <option value="France">France</option>
                                        <option value="Spain">Spain</option>
                                    </select>
                                </li>
                                <li>
                                    <input class="form-field" type="hidden" value="Economy Class"
                                        name="class">
                                    <input class="form-field" type="hidden" value="23.99" name="price">
                                    <input class="form-field" type="text" name="destination"
                                        placeholder="Destination City">
                                </li>
                            </div>
                            <button class="btnStyle" type="submit">Book Now</button>
                        </form>
                    </ul>
                </div>
            </div>

            <div class="column">
                <div class="title">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                    <h2>Busines Class</h2>
                </div>
                <div class="price">
                    <h4>€ <span>47.99</span></h4>
                </div>
                <div class="option">
                    <ul>
                        <form action="/api/users" method="POST">
                            <div class="form-group">
                                <li>
                                    <input class="form-field" type="text" name="passenger"
                                        placeholder="Passenger Name">
                                </li>
                                <li>
                                    <input class="form-field" type="date" name="departingDate"
                                        placeholder="Departing Date">
                                </li>
                                <li>
                                    <select class="form-field" name="country">
                                        <option value="">Select Country</option>
                                        <option value="England">England</option>
                                        <option value="France">France</option>
                                        <option value="Spain">Spain</option>
                                    </select>
                                </li>
                                <li>
                                    <input class="form-field" type="hidden" value="Business Class"
                                        name="class">
                                    <input class="form-field" type="hidden" value="47.99" name="price">
                                    <input class="form-field" type="text" name="destination"
                                        placeholder="Destination City">
                                </li>
                            </div>
                            <button class="btnStyle" type="submit">Book Now</button>
                        </form>
                    </ul>
                </div>
            </div>

            <div class="column">
                <div class="title">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                    <h2>Firtst Class</h2>
                </div>
                <div class="price">
                    <h4>€ <span>89.99</span></h4>
                </div>
                <div class="option">
                    <ul>
                        <form action="/api/users" method="POST">
                            <div class="form-group">
                                <li>
                                    <input class="form-field" type="text" name="passenger"
                                        placeholder="Passenger Name">
                                </li>
                                <li>
                                    <input class="form-field" type="date" name="departingDate"
                                        placeholder="Departing Date">
                                </li>
                                <li>
                                    <select class="form-field" name="country">
                                        <option value="">Select Country</option>
                                        <option id="England" value="England">England</option>
                                        <option id="France"  value="France">France</option>
                                        <option id="Spain"  value="Spain">Spain</option>
                                    </select>
                                </li>
                                <li>
                                    <input class="form-field" type="hidden" value="First Class"
                                        name="class">
                                    <input class="form-field" type="hidden" value="89.99" name="price">
                                    <input class="form-field" type="text" name="destination"
                                        placeholder="Destination City">
                                </li>
                            </div>
                            <button class="btnStyle" type="submit">Book Now</button>
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- /Main Site -->
    
    <!-- Footer Content -->
    <footer>
        <p>Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>, William Carvalho
        </p>
    </footer>
    <!-- /Footer Content -->

</body>

</html>